*/*.o
*.o
*/*.d
*/*.bin
*/*.elf
*/*.map
*.hex
*.vvp
*.vcd
obj_dir/*
*.unpruned
*.eva/*
/dhrystone/timing.txt
/riscv-gnu-toolchain-riscv32i
/riscv-gnu-toolchain-riscv32ic
/riscv-gnu-toolchain-riscv32im
/riscv-gnu-toolchain-riscv32imc
/testbench.gtkw
/testbench.trace
/check.smt2
/synth.log
/synth.v
.*.swp
